{% load static %}

  <section class="header">
    <div class="container">
      <div class="header__wrap">
        <div class="header__logo">
          <img src="{% static "img/header-logo.jpg" %}" alt="logo" class = "logo-img">
        </div>
        <div class="social">
          <div class = "img">
            <img src="{% static "img/brand-google.svg" %}" alt="google">
          </div>
          <div class = "img">
            <img src="{% static "img/brand-instagram.svg" %}" alt="inst">
          </div>
          <div class = "img">
            <img src="{% static "img/brand-invision.svg" %}" alt="in">
          </div>
        </div>
        <nav class = "menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#" class="menu__link menu__link1">О нас</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Услуги</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Специалисты</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Пациентам</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="adres">
          <p class = "adres__text">Чебоксары, Энтузиастов 1А</p>
        </div>
        <div class="date">
          <p class = "date__text">с 09:00 - 20:00 <span class = "subbota__span">пн-сб</span></p>
        </div>
        <div class="phone">
          <p class = "phone__text">+7900 333 10 40</p>
        </div>
        <button class = "order-call__btn blue-button">Заказать звонок</button>
      </div>
    </div>